{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    ["babel-plugin-styled-components", { "ssr": false, "displayName": false }],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "react-intl",
      {
        "messagesDir": "./build/messages",
        "extractSourceLocation": true
      }
    ]
  ]
}
